/* 
   --------------------------------------
   --------  BASE --------
   --------------------------------------
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/* 
   --------------------------------------
   --------  MIXINS --------
   --------------------------------------
*/
/* 
   --------------------------------------
   --------  VARIABLES --------
   --------------------------------------
*/
/* 
   --------------------------------------
   --------  TYPOGRAPHY --------
   --------------------------------------
*/
body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #777; }

h1 {
  font-size: 5rem; }

/* 
   --------------------------------------
   --------  GRID --------
   --------------------------------------
*/
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

/* 
   --------------------------------------
   --------  COMPONENTS --------
   --------------------------------------
*/
/* 
   --------------------------------------
   --------  ANIMATIONS --------
   --------------------------------------
*/
/* 
   --------------------------------------
   --------  SECTIONS --------
   --------------------------------------
*/
.header {
  height: 100vh;
  background-image: linear-gradient(#111, #111);
  background-size: cover;
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
  color: #fff;
  padding-top: 8rem; }
  .header__title {
    margin-bottom: 4rem; }
  .header__text-box {
    width: 50%;
    margin-bottom: 6rem; }
  .header__main-nav {
    list-style: none;
    width: 40%;
    text-align: center; }
    .header__main-nav__item {
      color: #fff;
      text-decoration: none;
      font-size: 2.5rem; }

.header-2 {
  height: 100vh;
  margin-top: -100vh;
  text-align: center;
  overflow: hidden; }
  .header-2__subtitle-box {
    text-align: right;
    padding-top: 10rem; }
  .header-2__subtitle-text {
    font-size: 3rem; }
  .header-2__hero-img {
    width: 90rem;
    margin-top: -18rem;
    padding-left: 7rem; }
